@using AMaz.Common
@model ContributionDetailViewModel


<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Contributions</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Functions</a></div>
                <div class="breadcrumb-item"><a href="#">Components</a></div>
                <div class="breadcrumb-item">View All Contribution</div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Advanced Table</h4>
                        <div class="card-header-form">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Status</th>
                                    <th>Mangazine</th>
                                    <th>Submission Date</th>
                                    <th>Accepted Date</th>
                                    <th>Author Name</th>
                                    <th>Is Accepted</th>
                                    <th>Files</th>
                                    <th>User</th>
                                    <th>Actions</th>
                                </tr>

                                <tr>
                                    <td>@Model.Title</td>
                                    <td>@Model.Content</td>
                                    <td>@Model.Status</td>
                                    <td>@Model.Magazine.Name</td>
                                    <td>@Model.SubmissionDate.ToShortDateString()</td>
                                    <td>@(Model.AcceptedDate.HasValue ? Model.AcceptedDate.Value.ToShortDateString() : "N/A")</td>
                                    <td>@Model.AuthorName</td>
                                    <td>@(Model.IsAccepted ? "Yes" : "No")</td>
                                    <td>
                                        <!-- Download links for files -->
                                        @if (Model.Files != null && Model.Files.Length > 0)
                                        {
                                            foreach (var file in Model.Files)
                                            {
                                                var p = new Dictionary<string, string>
                                                {
                                                    { "fileId", file.Id },{ "contributionId", Model.ContributionId }
                                                };

                                                <a asp-action="GetContributionFile" asp-all-route-data="p">@file.Name</a>

                                                <br />
                                            }
                                        }
                                        else
                                        {
                                            <span>No files</span>
                                        }
                                    </td>

                                    <!-- Edit button -->
                                    <td>
                                        <div style="display:flex;">
                                            <a style="margin-right:10px;" asp-controller="Contribution" asp-action="Update" asp-route-id="@Model.ContributionId" class="btn btn-outline-primary btn-sm">Update</a>
                                            <form asp-controller="Contribution" asp-action="Delete" asp-route-id="@Model.ContributionId" method="post" onsubmit="return confirm('Are you sure you want to delete this contribution?');">
                                                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                            </form>
                                        </div>

                                    </td>


                                </tr>
                        
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
