<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AMaz</title>

    <!-- General CSS File -->
    <link href="~/assets/modules/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/modules/fontawesome/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom file CSS Link -->
    <link href="~/assets/css/nav-footer.css" rel="stylesheet" />
    
    <!-- Template CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/component.css" rel="stylesheet" />
    @RenderSection("CSS", required: false)


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../images/education.png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>

    < <!-- Navigation -->
    <header style="margin-top: -30px">
        <nav>
            <img src="~/images/logo.png" alt="">
            <div class="navigation">
                <ul>
                    <i id="menu-close" class="fas fa-times"></i>
                    <li><a class="@((string)ViewData["ActivePage"] == "Home" ? "active" : "")" asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a class="@((string)ViewData["ActivePage"] == "Courses" ? "active" : "")" asp-action="Index" asp-controller="Magazine">Courses</a></li>
           
                    @await Html.PartialAsync("_LoginPartial")
                </ul>

                <img id="menu-btn" src="~/images/menu.png" alt="">

            </div>

        </nav>
    </header>

    <!-- JavaScript to handle click event and apply active class -->
    <script>
        $(document).ready(function () {
            $("#courses-link").click(function () {
                // Remove active class from all links
                $("nav .navigation ul li a").removeClass("active");
                // Add active class to the clicked link
                $(this).addClass("active");
            });
        });
    </script>

    <!-- End Navigation -->

    <!-- Main Content -->
    @RenderBody()

    <!-- End Main Content -->
    <!-- Footer -->
    <footer>
        <div class="footer-col">
            <h3>Top Products</h3>
            <li>Manage Reputation</li>
            <li>Power Tools</li>
            <li>Managed Website</li>
            <li>Marketing Service</li>
        </div>
        <div class="footer-col">
            <h3>Quick Links</h3>
            <li>Jobs</li>
            <li>Brand Assets</li>
            <li>Investor Relations</li>
            <li>Term of Service</li>
        </div>
        <div class="footer-col">
            <h3>Features</h3>
            <li>Manage Reputation</li>
            <li>Power Tools</li>
            <li>Managed Website</li>
            <li>Marketing Service</li>
        </div>
        <div class="footer-col">
            <h3>Information</h3>
            <li><a href="AboutUI/about.html">About Us</a></li>
            <li><a href="BlogUI/blog.html">Blog</a></li>
            <li><a href="ContactUI/contact.html">Contact Us</a></li>
            <li>Marketing</li>
        </div>

        <div class="footer-col">
            <h3>Newsletter</h3>
            <p>You can trust us. We only send promo offer</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email Address" name="" id="">
                <a href="" class="yellow">SUBSCRIBE</a>
            </div>
        </div>

        <div class="copyright">
            <p>© AMaz 2024. All rights reserved</p>
            <div class="pro-links">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-github"></i>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Template JS File -->
    <script src="~/assets/js/profilescript.js"></script>
    <script src="~/assets/js/responsivescript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
