@using AMaz.Common
@model MagazineDetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Details</h1>
<div>
    <h4>Magazine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstClosureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalClosureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalClosureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalClosureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayFor(model => model.FacultyName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.AcademicYear)
        </dt>
    </dl>
</div>
