@using AMaz.Common
@model MagazineDetailViewModel

@{
    ViewData["Title"] = "Details";
    string layout = "_Layout"; // Default layout

    if (User.IsInRole("Manager"))
    {
        layout = "_ManagerLayout";
    }
    else if (User.IsInRole("Coordinator"))
    {
        layout = "_CoordinatorLayout";
    }

    Layout = layout;
}



@if (User.IsInRole("Manager")) // Display sidebar only for manager
{
    <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a asp-action="Manager" asp-controller="Home">AMaz</a>
            </div>
            <div class="sidebar-brand sidebar-brand-sm">
                <a asp-action="Manager" asp-controller="Home">AMaz</a>
            </div>
            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li class="dropdown">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                </li>

            
                <li class="dropdown active">
                    <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Functions</span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="Index" asp-controller="Faculty">View Faculty List</a></li>
                        <li class=active><a class="nav-link beep beep-sidebar" asp-action="Index" asp-controller="Magazine">View Magazine</a></li>

                    </ul>
                </li>

            </ul>
        </aside>
    </div>
}


@if (User.IsInRole("Coordinator"))
{
    <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a asp-action="Manager" asp-controller="Home">AMaz</a>
            </div>
            <div class="sidebar-brand sidebar-brand-sm">
                <a asp-action="Manager" asp-controller="Home">AMaz</a>
            </div>
            <ul class="sidebar-menu">
              
                <li class="dropdown active">
                    <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Functions</span></a>
                    <ul class="dropdown-menu">
                        <li class=active><a class="nav-link beep beep-sidebar" asp-action="Index" asp-controller="Magazine">View Magazine</a></li>

                    </ul>
                </li>

            </ul>
        </aside>
    </div>
}



<br /><br /><br />


    <div class="main-content">
    <section class="section">

        <div class="section-body">
            <h2 class="section-title">Magazine</h2>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Magazine</h4>

                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                               
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                                            <th>@Html.DisplayNameFor(model => model.FirstClosureDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.FinalClosureDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.FacultyName)</th>
                                            <th>@Html.DisplayNameFor(model => model.AcademicYear)</th>
                                            @if (User.IsInRole("Manager"))
                                            {
                                                <th>Action</th>
                                            }
                                        </tr>
                               
                                 
                                        <tr>
                                            <td>@Html.DisplayFor(model => model.Name)</td>
                                            <td>@Html.DisplayFor(model => model.FirstClosureDate)</td>
                                            <td>@Html.DisplayFor(model => model.FinalClosureDate)</td>
                                            <td>@Html.DisplayFor(model => model.FacultyName)</td>
                                            <td>@Html.DisplayFor(model => model.AcademicYear)</td>
                                            @if (User.IsInRole("Manager"))
                                            {
                                                <td style="display: flex; align-items: center;">
                                                    <form method="put" asp-action="Update" asp-controller="Magazine" style="margin-right: 5px;">
                                                        <input type="hidden" name="id" value="@Model.MagazineId" />
                                                        <button type="submit" class="btn btn-outline-info btn-sm">Update</button>
                                                    </form>

                                                    <form asp-action="Delete" asp-controller="Magazine" asp-route-id="@Model.MagazineId" method="post" onsubmit="return confirm('Are you sure you want to delete this magazine?');" style="margin-right: 5px;">
                                                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                                    </form>

                                                    <form method="post" asp-action="GetMagazineReport" asp-controller="Magazine" style="margin-right: 5px;">
                                                        <input type="hidden" name="id" value="@Model.MagazineId" />
                                                        <button type="submit" class="btn btn-outline-secondary btn-sm">Export</button>
                                                    </form>
                                                </td>

                                            }
                                        </tr>

                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            @if (User.Identity.IsAuthenticated)
                            {                              
                                <th>Status</th>
                                <th>Submission Date</th>
                                <th>Accepted Date</th>
                            }
                            <th>Author Name</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (var contribution in Model.Contributions)
                        {
                            <tr>
                                <td>@contribution.Title</td>
                                <td>@contribution.Content</td>
                                @if (User.Identity.IsAuthenticated)
                                {                                  
                                    <td>@contribution.Status</td>
                                    <td>@contribution.SubmissionDate.ToShortDateString()</td>
                                    <td>@(contribution.AcceptedDate.HasValue ? contribution.AcceptedDate.Value.ToShortDateString() : "N/A")</td>
                                }
                                <td>@contribution.AuthorName</td>

                                <!-- Edit button -->
                                <td>
                                    <div style="display:flex;">
                                        <a style="margin-right:10px;" asp-controller="Contribution" asp-action="Details" asp-route-id="@contribution.ContributionId" class="btn btn-outline-info btn-sm">Details</a>
                                        @if (User.IsInRole("Student"))
                                        {
                                            @if (DateTime.Now < Model.FinalClosureDate)
                                            {
                                                <a style="margin-right:10px;" asp-controller="Contribution" asp-action="Update" asp-route-id="@contribution.ContributionId" class="btn btn-outline-primary btn-sm">Update</a>
                                                <form asp-controller="Contribution" asp-action="Delete" asp-route-id="@contribution.ContributionId" method="post" onsubmit="return confirm('Are you sure you want to delete this contribution?');">
                                                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                                </form>
                                            }
                                        }
                                       
                                    </div>
                                </td>
                            </tr>              
                        }
                        @if (User.IsInRole("Student"))
                        {
                            @if (DateTime.Now < Model.FirstClosureDate)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Contribution" asp-action="Create" asp-route-magazineId="@Model.MagazineId" class="btn btn-primary btn-lg">Create</a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>





@* <h1>Details</h1>
<div>
    <h4>Magazine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstClosureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalClosureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalClosureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalClosureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayFor(model => model.FacultyName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.AcademicYear)
        </dt>
    </dl>
</div>
 *@