@using AMaz.Common
@model UpdateMagazineViewModel

@{
    ViewData["Title"] = "Update Magazine";
    Layout = "_ManagerLayout";
}

    <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a asp-action="Manager" asp-controller="Home">AMaz</a>
            </div>
            <div class="sidebar-brand sidebar-brand-sm">
                <a asp-action="Manager" asp-controller="Home">AMaz</a>
            </div>
            <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li class="dropdown">
                <a asp-controller="Dashboard" asp-action="Index" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>

                <li class="menu-header">Functions</li>

                <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown"><i class="fas fa-bicycle"></i> <span>Features</span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="Create" asp-controller="Faculty">Create Faculty</a></li>

                        <li><a asp-action="Create" asp-controller="Magazine">Create Magazine</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Components</span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="Index" asp-controller="Faculty">View Faculty List</a></li>
                        <li class=active><a class="nav-link beep beep-sidebar" asp-action="Index" asp-controller="Magazine">View Magazine</a></li>

                    </ul>
                </li>

            </ul>
        </aside>
    </div>

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Update Magazine</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Functions</a></div>
                <div class="breadcrumb-item"><a href="#">Components</a></div>
                <div class="breadcrumb-item"><a href="#">View Magazine</a></div>
                <div class="breadcrumb-item">Update Magazine</div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Update Magazine</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Update" asp-controller="Magazine" method="post" asp-route-id ="@(ViewBag.Id)">

                         <div class="wizard-pane">
                                <div class="form-group row align-items-center">
                                    <label class="col-md-4 text-md-right text-left" asp-for="Name">Name</label>
                                    <div class="col-lg-4 col-md-6">
                                        <input type="text" asp-for="Name" class="form-control" required />                                    
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label class="col-md-4 text-md-right text-left" asp-for="FirstClosureDate">First Closure Date</label>
                                    <div class="col-lg-4 col-md-6">
                                        <input asp-for="FirstClosureDate" type="date" class="form-control" required />
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label class="col-md-4 text-md-right text-left" asp-for="FinalClosureDate">Second Closure Date</label>
                                    <div class="col-lg-4 col-md-6">
                                        <input asp-for="FinalClosureDate" type="date" class="form-control" required />
                                    </div>
                                </div>

                                <div class="form-group row align-items-center">
                                    <label class="col-md-4 text-md-right text-left">Academic Year: </label>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" id="selectedAcademicYearBtn" data-toggle="dropdown">
                                            @if (Model.AcademicYearId != null)
                                            {
                                                var selectedAcademicYear = Model.AcademicYears.FirstOrDefault(a => a.AcademicYearId == Model.AcademicYearId);
                                                if (selectedAcademicYear != null)
                                                {
                                                    @($"{selectedAcademicYear.DateTimeFrom} - {selectedAcademicYear.DateTimeTo}")
                                                }
                                                else
                                                {
                                                    <text>Select Academic Year</text>
                                                }
                                            }
                                            else
                                            {
                                                <text>Select Academic Year</text>
                                            }
                                        </button>
                                        <span class="sr-only">Toggle Dropdown</span>
                                        <div class="dropdown-menu">
                                            @foreach (var academicYear in Model.AcademicYears)
                                            {
                                               
                                                <a class="dropdown-year-item"
                                                   href="#"
                                                   data-value="@academicYear.AcademicYearId"
                                                   style="
                                                            display:block;
                                                            width:100%;
                                                            padding: 0.25rem 1.5rem;
                                                            clear: both;
                                                            font-weight: 600;
                                                            color: #212529;
                                                            text-align: inherit;
                                                            text-decoration: none;
                                                            white-space: nowrap;
                                                            background-color: transparent;
                                                            border: 0;
                                                            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;"
                                                   onmouseover="this.style.color='#16181b'; this.style.backgroundColor='#f8f9fa';"
                                                   onmouseout="this.style.color='#212529'; this.style.backgroundColor='transparent';">
                                                    @($"{academicYear.DateTimeFrom} - {academicYear.DateTimeTo}")

                                                </a>
                                            }
                                        </div>
                                        <input type="hidden" id="AcademicYearId" name="AcademicYearId" value="@Model.AcademicYearId" />
                                    </div>
                                </div>




                                  <div class="form-group row align-items-center">
                                        <label class="col-md-4 text-md-right text-left">Faculties: </label>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" id="selectedFacultyBtn" data-toggle="dropdown">
                                
                                                @if (Model.FacultyId != null)
                                                {
                                                    var selectedFaculty = Model.Faculties.FirstOrDefault(f => f.FacultyId == Model.FacultyId);
                                                    if (selectedFaculty != null)
                                                    {
                                                        @selectedFaculty.Name
                                                    }
                                                    else
                                                    {
                                                        <text>Select Faculty</text>
                                                    }
                                                }
                                                else
                                                {
                                                    <text>Select Faculty</text>
                                                }
                                            </button>
            
                                                <span class="sr-only">Toggle Dropdown</span>
                                    
                                            <div class="dropdown-menu">
               
                                                @foreach (var faculty in Model.Faculties)
                                                {
                                                    <a class="dropdown-faculty-item"
                                                       href="#"
                                                       data-value="@faculty.FacultyId"
                                                       style="
                                                                display:block;
                                                                width:100%;
                                                                padding: 0.25rem 1.5rem;
                                                                clear: both;
                                                                font-weight: 600;
                                                                color: #212529;
                                                                text-align: inherit;
                                                                text-decoration: none;
                                                                white-space: nowrap;
                                                                background-color: transparent;
                                                                border: 0;
                                                                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;"
                                                       onmouseover="this.style.color='#16181b'; this.style.backgroundColor='#f8f9fa';"
                                                       onmouseout="this.style.color='#212529'; this.style.backgroundColor='transparent';">
                                                        @faculty.Name
                                                    </a>
                                                }
                                            </div>
                                            <input type="hidden" id="FacultyId" name="FacultyId" value="@Model.FacultyId" />
                                </div>
                            </div>

                            <script>
                                // Function to enable/disable faculty selection based on the selected role
                                function toggleFacultySelection(enabled) {
                                    const facultyDropdown = document.getElementById('selectedFacultyBtn');
                                    const facultyInput = document.getElementById('FacultyId');

                                    facultyDropdown.disabled = !enabled;
                                    facultyInput.disabled = !enabled;
                                }               

                                // Add event listener to set faculty selection when clicked
                                document.querySelectorAll('.dropdown-faculty-item').forEach(item => {
                                    item.addEventListener('click', event => {
                                        event.preventDefault();
                                        const selectedFacultyId = event.target.getAttribute('data-value');
                                        const selectedFacultyName = event.target.textContent.trim();
                                        document.getElementById('selectedFacultyBtn').textContent = selectedFacultyName;
                                        document.getElementById('FacultyId').value = selectedFacultyId;
                                    });
                                });

                                 // Add event listener to set Academic Year selection when clicked
                                document.querySelectorAll('.dropdown-year-item').forEach(item => {
                                    item.addEventListener('click', event => {
                                        event.preventDefault();
                                        const selectedAcademicYearId = event.target.getAttribute('data-value');
                                        const selectedAcademicYearText = event.target.textContent.trim();
                                        document.getElementById('selectedAcademicYearBtn').textContent = selectedAcademicYearText;
                                        document.getElementById('AcademicYearId').value = selectedAcademicYearId;
                                    });
                                });
                            </script>
                           



                                <div class="form-group row">
                                    <div class="col-md-4"></div>
                                    <div class="col-lg-4 col-md-6 text-right">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                        <a asp-action="Index" asp-controller="Magazine" class="btn btn-icon icon-right btn-primary">Back</a>
                                    </div>
                                </div>

                            </div>

                       @*  <div>
                            <label asp-for="Name">Name:</label>
                            <input asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div>
                            <label asp-for="FirstClosureDate">First Closure Date:</label>
                            <input asp-for="FirstClosureDate" type="date" />
                            <span asp-validation-for="FirstClosureDate"></span>
                        </div>
                        <div>
                            <label asp-for="FinalClosureDate">Second Closure Date:</label>
                            <input asp-for="FinalClosureDate" type="date" />
                            <span asp-validation-for="FinalClosureDate"></span>
                        </div>
                        <div>
                            <label asp-for="AcademicYearId">Academic Year:</label>
                            <select asp-for="AcademicYearId" asp-items="@(new SelectList(Model.AcademicYears.Select(a => new SelectListItem { Text = $"{a.DateTimeFrom.ToShortDateString()} - {a.DateTimeTo.ToShortDateString()}", Value = a.AcademicYearId }), "Value", "Text"))">
                                <option value="">Select Academic Year</option>
                            </select>
                            <span asp-validation-for="AcademicYearId"></span>
                        </div>
                        <div>
                            <label asp-for="FacultyId">Faculties: </label>
                            <select asp-for="FacultyId" asp-items="@(new SelectList(Model.Faculties.Select(f => new SelectListItem { Text = $"{f.Name}", Value = f.FacultyId }), "Value", "Text"))">
                                <option value="">Select Faculty</option>
                            </select>
                            <span asp-validation-for="FacultyId"></span>
                        </div>
                        <button type="submit">Submit</button> *@
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
